.search-container{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    height: 35px;
    border-radius: 30px;
    padding-left: 20px;
    color: #626262;
    background: #f7f7f7;
    margin-bottom: 15px;
}

.search-container input{
    border: none;
    outline: none;
    background: #f7f7f7;
}

.search-container button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    padding-right: 20px;
    color: #626262;
    transition-duration: 0.2s;
    opacity: 0.6;
}

.search-container button:hover{
    opacity: 1;
}